.navbar-toggler {
  border: none !important;
}

.navbar-container {
  background-color: #1b9c843a;
}

.navbar-dynamic {
  position: sticky !important;
  top: 0px;
  z-index: 100;
  background-color: #4c4c6d3f;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.navbar-link {
  cursor: pointer;
}
